!!! 5
%html
  %head
    %title TodoApp
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Oxygen'
    = stylesheet_link_tag 'application'
    = csrf_meta_tags
  %body
    #react-container
    = javascript_include_tag 'application'
